<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\styles.css">
    <title>To-Do List</title>
</head>
<body>
    <div class="box" id="heading"><h1><%=currentDay%></h1></div>
    <div class="box">
       
        <%taks.forEach(function(ta){%>
            <form action="/delete" method="POST">
                <div class=" box">
                    <input value="<%= ta._id%>" name="check" type="checkbox" onclick="this.form.submit()">
                    <p><%=ta.task%></p>
                </div>
                <input type="hidden" name="li" value="<%=currentDay%>">
            </form>
        
       <%})%>
        
    </div>
    <div class="box"><form class="item" action="/" method="POST">
        <input type="text" name="task" placeholder="ADD TASK" autocomplete="off">
        <button type="submit" name="button" value="<%=currentDay%>">+</button>
    </form></div>
    
</body>
</html>